<template>
  <div id="app">
    <Navbar />
    <div class="container">
      <router-view/>
    </div>
  </div>
</template>

<script>
import Navbar from './Navbar';
import NewEmployee from './NewEmployee';
export default {
  name: 'app',
  components: {
    Navbar,
    NewEmployee,

  },

}
</script>

<style>
  nav {
    margin-bottom:10px;
  }
</style>
