<template>
  <div>
    <!-- <div class="grid-container"> -->
    <div
      v-for="employee in employees"
      v-bind:key="employee.id"
      class="row boxrow"
    >
      <div class="grid-item box1">{{ employee.employee_id }}</div>
      <div class="grid-item box2">{{ employee.dept }}</div>
      <div class="grid-item box3">{{ employee.name }}</div>
      <div class="grid-item box4">
        <router-link
          class="secondary-content"
          v-bind:to="{
            name: 'view-employee',
            params: { employee_id: employee.employee_id },
          }"
          ><i class="fa fa-eye fa-2x"></i
        ></router-link>
      </div>
    </div>
    <div class="fixed-action-btn">
      <router-link to="/new" class="btn-floating btn-large red">
        <i class="fa fa-plus"></i>
      </router-link>
    </div>
    <!-- </div> -->
  </div>
</template>
<script>
import firebase from "firebase";
//import Cookies from "js-cookie";
import ViewEmployee from "./ViewEmployee";
export default {
  name: "dashboard",
  data() {
    return {
      employees: [],
      loading: true,
    };
  },

  created() {
    this.readusers_notes();
  },

  computed: {},

  methods: {
    readusers_notes() {
      this.$dbo
        .collection("employees")
        .orderBy("dept")
        .get()
        .then((querySnapshot) => {
          querySnapshot.forEach((doc) => {
            this.employees.push({
              id: doc.id,
              employee_id: doc.data().employee_id,
              name: doc.data().name,
              dept: doc.data().dept,
              position: doc.data().position,
            });
            console.log(doc.id, " => ", doc.data());
          });
          // console.log(" => ", JSON.stringify(this.employees));
        })
        .catch((error) => {
          console.log("Error getting documents: ", error);
        });
    },

    fetchData() {
      console.log("===================>Fetch Data call");
      $dbo
        .collection("employees")
        .where("employee_id", "==", this.$route.params.employee_id)
        .get()
        .then((querySnapshot) => {
          querySnapshot.forEach((doc) => {
            this.employee_id = doc.data().employee_id;
            this.name = doc.data().name;
            this.dept = doc.data().dept;
            this.position = doc.data().position;
          });
        });
    },
  },
};
</script>
