<template>
  <div class="container">
    <div class="row">
      <div class="col s4 m4 offset-m1">
        <div class="login card-pannel white white-text center">
          <h3>Login</h3>
          <form action="">
            <div class="input-field">
              <i class="material-icons prefix">email</i>
              <input type="text" id="email" v-model="email" />
              <label for="email">Email</label>
            </div>
            <div class="input-field">
              <i class="material-icons prefix">lock</i>
              <input type="password" id="password" v-model="password" />
              <label for="password">Password</label>
            </div>
            <button @click="loginSave" class="btn btn-success">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import firebase from "firebase";
export default {
  name: "login",
  data() {
    return {
      email: "",
      password: "",
    };
  },

  methods: {
    loginSave(e) {
      console.log("Logion method call");
      firebase
        .auth()
        .signInWithEmailAndPassword(this.email, this.password)
        .then(
          (user) => {
            alert("Your are login successfully");
            //this.$router.push("/");
            //Reload the page
            this.$router.go({ path: this.$router.path });
          },
          (err) => {
            alert(err.message);
          }
        );
      e.preventDefault();
    },

  },
};
</script>
