 <template>
  <nav>
    <div class="nav-wrapper">
      <div class="container">
        <!-- <router-link to="/" class="brand-logo">Employee Manager </router-link> -->
         <router-link to="/" v-if="isLogggedIn">Dashboard</router-link>
         <router-link to="/" v-if="!isLogggedIn">Welcome </router-link>
        <ul class="right">
          <li v-if="isLogggedIn">
            <span class="email black-text">{{ currentUser }}</span>
          </li>
          <!-- <li v-if="isLogggedIn">
            <router-link to="/">Dashboard</router-link>
          </li> -->
          <li v-if="!isLogggedIn">
            <router-link to="/login">Login</router-link>
          </li>
          <li v-if="!isLogggedIn">
            <router-link to="/register">Register</router-link>
          </li>
          <li v-if="isLogggedIn"><router-link to="/chat">Chat</router-link></li>
          <li v-if="isLogggedIn">
            <button @click="logout" class="btn gray">Logout</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>
<script>
import firebase from "firebase";
export default {
  name: "navbar",
  data() {
    return {
      isLogggedIn: false,
      currentUser: false,
    };
  },

  created() {
    if (firebase.auth().currentUser) {
      this.isLogggedIn = true;
      this.currentUser = firebase.auth().currentUser.email;
    }
  },
  methods: {
    logout() {
      firebase
        .auth()
        .signOut()
        .then(() => {
          // this.$router.push('/login');
          this.$router.go({ path: this.$router.path });
        });
    },
  },
};
</script>
<style scoped>
.email {
  padding-right: 5px;
}
</style>
