<template>
  <div class="container">
    <h3 class="text-center">Messaging</h3>
    <div class="messaging">
      <div class="inbox_msg">
        <div class="inbox_people">
          <div class="headind_srch">
            <div class="recent_heading">
              <h4>Recent</h4>
            </div>
            <div class="srch_bar">
              <div class="stylish-input-group">
                <input type="text" class="search-bar" placeholder="Search" />
                <span class="input-group-addon">
                  <button type="button">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </button>
                </span>
              </div>
            </div>
          </div>
          <div class="inbox_chat">
            <div class="chat_list active_chat">
              <div class="chat_people">
                <div class="chat_img">
                  <img
                    src="https://ptetutorials.com/images/user-profile.png"
                    alt="sunil"
                  />
                </div>
                <div class="chat_ib">
                  <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                  <p>
                    Test, which is a new approach to have all solutions
                    astrology under one roof.
                  </p>
                </div>
              </div>
            </div>
            <div class="chat_list">
              <div class="chat_people">
                <div class="chat_img">
                  <img
                    src="https://ptetutorials.com/images/user-profile.png"
                    alt="sunil"
                  />
                </div>
                <div class="chat_ib">
                  <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                  <p>
                    Test, which is a new approach to have all solutions
                    astrology under one roof.
                  </p>
                </div>
              </div>
            </div>
            <div class="chat_list">
              <div class="chat_people">
                <div class="chat_img">
                  <img
                    src="https://ptetutorials.com/images/user-profile.png"
                    alt="sunil"
                  />
                </div>
                <div class="chat_ib">
                  <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                  <p>
                    Test, which is a new approach to have all solutions
                    astrology under one roof.
                  </p>
                </div>
              </div>
            </div>
            <div class="chat_list">
              <div class="chat_people">
                <div class="chat_img">
                  <img
                    src="https://ptetutorials.com/images/user-profile.png"
                    alt="sunil"
                  />
                </div>
                <div class="chat_ib">
                  <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                  <p>
                    Test, which is a new approach to have all solutions
                    astrology under one roof.
                  </p>
                </div>
              </div>
            </div>
            <div class="chat_list">
              <div class="chat_people">
                <div class="chat_img">
                  <img
                    src="https://ptetutorials.com/images/user-profile.png"
                    alt="sunil"
                  />
                </div>
                <div class="chat_ib">
                  <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                  <p>
                    Test, which is a new approach to have all solutions
                    astrology under one roof.
                  </p>
                </div>
              </div>
            </div>
            <div class="chat_list">
              <div class="chat_people">
                <div class="chat_img">
                  <img
                    src="https://ptetutorials.com/images/user-profile.png"
                    alt="sunil"
                  />
                </div>
                <div class="chat_ib">
                  <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                  <p>
                    Test, which is a new approach to have all solutions
                    astrology under one roof.
                  </p>
                </div>
              </div>
            </div>
            <div class="chat_list">
              <div class="chat_people">
                <div class="chat_img">
                  <img
                    src="https://ptetutorials.com/images/user-profile.png"
                    alt="sunil"
                  />
                </div>
                <div class="chat_ib">
                  <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                  <p>
                    Test, which is a new approach to have all solutions
                    astrology under one roof.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mesgs">
          <div class="msg_history">
            <div
              v-for="(message, index) in messages"
              :key="index"
              class="incoming_msg"
            >
              <div class="received_msg">
                <div class="received_withd_msg">
                  <p>
                    {{ message.message }}
                  </p>
                  <span class="time_date"
                    >{{ message.sendDate }}|{{ message.email }}</span
                  >
                </div>
              </div>
            </div>
            <div v-for="(file, index) in files" :key="index.file">
              <table>
                <tr>
                  <td>
                    <span class="time_date"
                      >{{ file.created }}|{{ file.email }}</span
                    >
                    <img :src="file" alt="" width="400" height="300" />
                    <button @click="deleteFile(file)" class="btn btn-danger">
                      Delete
                    </button>
                    <button @click="downloadFile(file)" class="btn btn-success">
                      Download
                    </button>
                  </td>
                </tr>
              </table>
            </div>
            <div v-if="imageData != null">
              <div class="image-parent">
                <img class="preview" :src="picture" />
                <button @click="onUpload" class="btn btn-success">
                  Upload
                </button>
                <div class="image-progress">
                  <progress
                    id="progress"
                    :value="uploadValue"
                    max="100"
                  ></progress>
                </div>
              </div>
            </div>
          </div>
          <div class="type_msg">
            <div class="input_msg_write">
              <input
                @keyup.enter="saveMessage"
                v-model="message"
                type="text"
                class="write_msg"
                placeholder="Type a message"
              />
              <button class="msg_send_btn" type="button" @click="saveMessage">
                <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
              </button>
              <div>
                <div>
                  <input
                    type="file"
                    @change="previewImage"
                    accept="image/*,audio/*,video/*,application/pdf"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Navbar from "./Navbar";
import firebase from "firebase";
export default {
  name: "PrivateChat",
  data() {
    return {
      message: "",
      messages: [],
      authUser: {},
      imageData: null,
      picture: "",
      file: "",
      uploadValue: 0,
      files: [],
      email: [],
    };
  },

  created() {
    this.fatchMessage();
    this.fatchFile();
    firebase.auth().onAuthStateChanged((email) => {
      if (email) {
        this.authUser = email;
      } else {
        this.authUser = {};
      }
    });
  },

  methods: {
    //---------------------Always bottom/recents message view--------------------

    scrollToBottom() {
      let box = document.querySelector(".msg_history");
      box.scrollTop = box.scrollHeight;
    },

    //-------------------------------Add Message On Firebase-----------------------

    saveMessage() {
      //save to firestore
      //console.log("===============>chat Add method call");
      this.$dbo
        .collection("chat")
        .add({
          message: this.message,
          email: this.authUser.email,
          sendDate: Date(),
          created: new Date(),
        })
        .then(() => {
          this.scrollToBottom();
        });
      this.message = null;
    },

    //------------------------------fetchMessage from firebase--------------------

    fatchMessage() {
      this.$dbo
        .collection("chat")
        .orderBy("created")
        .onSnapshot((querySnapshot) => {
          let allMessage = [];
          querySnapshot.forEach((doc) => {
            allMessage.push(doc.data());
          });
          this.messages = allMessage;
          setTimeout(() => {
            this.scrollToBottom();
          }, 1000);
        });
    },

    //----------------------------preview Image-----------------------------------

    previewImage(event) {
      this.uploadValue = 0;
      this.picture = null;
      this.imageData = event.target.files[0];
    },

    //----------------------------------Upload file--------------------------------------

    onUpload() {
      var metadata = {
        contentType: "image/audio/video",
      };
      this.picture = null;
      var storageRef = firebase.storage().ref();
      var storage = firebase.storage();
      var uploadTask = storageRef
        .child("images/" + this.imageData.name)
        .put(this.imageData, metadata);
      // console.log(storageRef)
      // return;
      uploadTask.on(
        firebase.storage.TaskEvent.STATE_CHANGED,
        (snapshot) => {
          this.uploadValue =
            (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
          // console.log('Upload is ' + this.uploadValue + '% done');
        },
        (error) => {
          console.log(error.message);
        },
        () => {
          this.uploadValue = 100;
          uploadTask.snapshot.ref
            .getDownloadURL()
            .then((downloadURL) => {
              this.picture = downloadURL;
              this.$router.go(this.$router.currentRoute);

            })
            .then(() => {
              this.scrollToBottom();

            });
        }
      );
    },

    //-------------------------------GetFile from firebase-------------------------

    fatchFile() {
      var storage = firebase.storage();
      var storageRef = firebase.storage().ref();
      var listRef = storageRef.child(`images/`);
      // console.log("============>fetch File",listRef)
      // return;
      listRef
        .listAll()
        .then((res) => {
          let allFiles = [];
          // res.prefixes.forEach((folderRef) => {
          //   // All the prefixes under listRef.
          //   // You may call listAll() recursively on them.
          // });

          res.items.forEach((itemRef) => {
            itemRef.getDownloadURL().then((downloadURL) => {
              allFiles.push(downloadURL);
              console.log("Image Reference", downloadURL);
            });

            // console.log("Image Reference" + itemRef.toString());
          });
          this.files = allFiles;
          setTimeout(() => {
            this.scrollToBottom();
          }, 1000);
        })
        .catch((error) => {
          console.log("===========================>Error comes", error);
        });
    },

    //------------------------------Delete File------------------------

    deleteFile(url) {
      var storage = firebase.storage();
      var desertRef = storage.refFromURL(url);
      //   console.log("=============>", url);
      //   return;
      desertRef
        .delete()
        .then(() => {
          alert("Picture is deleted successfully!");
          location.reload();
        })

        .catch((error) => {
          console.log(
            "======================>Somethinng Error Occurs in Deletion",
            error
          );
        });
    },

    //---------------------------Download File-----------------------

    downloadFile(url) {
      var storage = firebase.storage();
      var httpsReference = storage.refFromURL(url);
      alert(httpsReference.name);
      httpsReference
        .getDownloadURL()
        .then((url) => {
          var xhr = new XMLHttpRequest();
          xhr.responseType = "blob";
          xhr.onload = function (event) {
            var blob = xhr.response;
            if (window.navigator && window.navigator.msSaveOrOpenBlob)
              return window.navigator.msSaveOrOpenBlob(blob);
            const data = window.URL.createObjectURL(blob);
            const link = document.createElement("a");
            link.href = data;
            link.download = httpsReference.name;
            link.dispatchEvent(
              new MouseEvent("click", {
                bubbles: true,
                cancelable: true,
                view: window,
              })
            );
            setTimeout(() => {
              window.URL.revokeObjectURL(data);
              link.remove();
            }, 100);
          };
          xhr.open("GET", url);
          xhr.send();

          //   var img = document.getElementById("myimg");
          //   img.setAttribute('src', url);

          console.log("===========>download SuccessFully...", url);
        })
        .catch((error) => {
          switch (error.code) {
            case "storage/object-not-found":
              console.log("File does not exist");
              break;
            case "storage/unauthorized":
              console.log("User doesn't have permission to access the object");
              break;
            case "storage/canceled":
              console.log("User canceled the upload");
              break;
            case "storage/unknown":
              console.log(
                "Unknown error occurred, inspect the server response"
              );
              break;
          }
        });
    },
  },
};
</script>
<style scoped="">
img.preview {
  width: 200px;
}
</style>
