<template>
  <div class="container">
    <div class="row">
      <div class="col s4 m8 offset-m2">
        <div class="login card-pannel grey lighten-4 white-text center">
          <h3>Register</h3>
          <form>
            <div class="input-field">
              <i class="material-icons prefix">email</i>
              <input type="text" id="email" v-model="email" />
              <label for="email">Email</label>
            </div>
            <div class="input-field">
              <i class="material-icons prefix">lock</i>
              <input type="password" id="password" v-model="password" />
              <label for="password">Password</label>
            </div>
            <button type="button" class="btn btn-success" @click="registerSave()">
              Register
            </button>
             <router-link to="/login" class="btn grey">Login</router-link>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import firebase from "firebase";
export default {
  name: "register",
  data() {
    return {
      email: "",
      password: "",
    };
  },

  methods: {
    registerSave(e) {
      console.log("register method call");
      firebase
        .auth()
        .createUserWithEmailAndPassword(this.email, this.password)
        .then(
          (user) => {
            alert("Account created successfully");
            //this.$router.push("/");
             this.$router.go({path:this.$router.path});
          },
          (err) => {
            alert(err.message);
          }
        );
      e.preventDefault();
    },
  },
};
</script>
