<template>
  <div id="view-employee">

       <div class="row boxrow">
              <div class="grid-item box"><h4>{{name}}</h4></div>
       <div class="grid-item box11">{{ employee_id }}</div>
      <div class="grid-item box12">{{ dept }}</div>
      <div class="grid-item box13">{{ position }}</div>
      </div>
    <router-link to="/" class="btn grey">Back</router-link>
    <button @click="deleteEmployee" class="btn red">Delete</button>

    <div class="fixed-action-btn">
      <router-link v-bind:to="{ name: 'edit-employee', params: { employee_id: employee_id }}" class="btn-floating btn-large red">
        <i class="fa fa-pencil"></i>
      </router-link>
    </div>
  </div>
</template>
<script>
  import firebase from 'firebase';
  export default {
    name: 'view-employee',
    data () {
      return {

        name: null,
        dept: null,
        position: null
      }
    },
    props:['employee_id']
  ,
  mounted(){
      console.log("BeforeRouteEnter method call");
      this.$dbo.collection('employees').where('employee_id', '==', this.employee_id).get().then((querySnapshot) => {
        querySnapshot.forEach((doc) => {

           // alert(JSON.stringify(doc.data()))

            // vm.employee_id = detoc.data().employee_id
            this.name = doc.data().name
            this.dept = doc.data().dept
            this.position = doc.data().position

        })
      })
  },
    watch: {
      '$route': 'fetchData'
    },
    methods: {
      fetchData () {
        this.$dbo.collection('employees').where('employee_id', '==', this.$route.params.employee_id).get().then((querySnapshot) => {
          querySnapshot.forEach((doc) => {
            this.employee_id = doc.data().employee_id
            this.name = doc.data().name
            this.dept = doc.data().dept
            this.position = doc.data().position
          })
        })
      },
      deleteEmployee () {
       console.log("====================>deleteEmployee method call");
        if(confirm ('Are you sure?')) {
           this.$dbo.collection('employees').where('employee_id', '==', this.$route.params.employee_id).get().then((querySnapshot) => {
            querySnapshot.forEach((doc) => {
              doc.ref.delete();
              this.$router.push('/')
            })
          })
        }
      }
    }
  }
</script>
